body {
  background: url(../assets/glass.jpg) center / cover no-repeat fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.glass {
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.25),
    rgba(138, 88, 231, 0.302),
    70%,
    rgba(255, 255, 255, 0.25)
  );
  border-radius: 20px;
  box-shadow: inset 4px 4px 5px 0 rgba(255, 255, 255, 0.25),
    inset -4px -4px 5px 0 rgba(0, 0, 0, 0.125), 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px) saturate(200%);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.form-group {
  text-align: left;
  width: 100%;
  margin: 0 auto;
}

.glass-input {
  padding: 10px;
  color: #333;
  transition: all 0.3s ease;
  border: none;
  outline: none;
  width: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.25),
    rgba(161, 118, 243, 0.302),
    70%,
    rgba(255, 255, 255, 0.25)
  );
  border-radius: 10px;
  box-shadow: inset 2px 2px 3px 0 rgba(255, 255, 255, 0.25),
    inset -2px -2px 3px 0 rgba(0, 0, 0, 0.125), 0 0 8px 1px rgba(0, 0, 0, 0.25);
  width: calc(100% - 60px);
  margin-left: 20px;
}

.glass-input:focus {
  box-shadow: inset 2px 2px 3px 0 rgba(255, 255, 255, 0.25),
    inset -2px -2px 3px 0 rgba(0, 0, 0, 0.125), 0 0 10px 1px rgba(0, 0, 0, 0.4);
}
/* CSS for the slanted div */
.slanted-div {
      background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.25),
    rgba(250, 250, 250, 0),
    70%,
    rgba(255, 255, 255, 0.25)
  );
  border-radius: 20px;
  box-shadow: inset 4px 4px 5px 0 rgba(255, 255, 255, 0.25),
    inset -4px -4px 5px 0 rgba(0, 0, 0, 0.125), 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 150px;
  height: 70px; /* Adjust the height as needed */
  z-index: 1; /* Ensure the slanted div is above other elements */
  transform: skewY(-45deg); /* Skew the div vertically at a 45-degree angle */
  display: flex;
  align-items: center; /* Center the content vertically */
  justify-content: fle; /* Center the content horizontally */
  margin: 0;
}
.slanted-div p{
  font-size: 15px; /* Adjust the font size as needed */
  margin-left: 12px;
}
